/* #alphabet {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 100%;
} */

#word {
    text-align: center;
}

button:not(#replay_button){
    width: 40px;
    margin: 1px;
}

#replay_button_div {
    text-align: center;
}

#game_container {
    text-align: center;
    background-color: #F5F5DC;
}
